[2021-01-06 14:55] ksraj123 commented on #1281
@karantakalkar We could use [ng-idle](https://www.npmjs.com/package/@ng-idle/core) for this. Btw, should we display a modal after the predefined period of inactivity, warning the user that he will be logged out soon due to inactivity or should we directly log him out?.

The warning would be helpful if the user is actually around and wants to continue his session, for which he could move his mouse

[2021-01-06 15:04] francisguchie commented on #1279
@ksraj123

I will try using the latest develop branch and see if product creation is successful, then i will close the issue

[2021-01-06 15:16] francisguchie commented on #1281
@ksraj123
Banking softwares should not display reminders. What if it is an eves dropper who is around table and he gets the chance to extend  the session to do some damage to the bank.

I suggest we log the user out directly

[2021-01-06 15:25] ksraj123 commented on #1281
@francisguchie sounds reasonable, should I start implementing this?.

[2021-01-06 15:25] BLasan commented on #1281
@karantakalkar What about [angular-user-idle](https://www.npmjs.com/package/angular-user-idle) ? If @ksraj123 's idea is good then we may let him to start fixing

[2021-01-06 15:28] Abhirup-99 commented on #1281
angular user idle won't work. It's below angular 9. 9 bought ivy compiler.

[2021-01-06 15:35] karantakalkar commented on #1281
We prefer not to use third party libraries unless it is an absolutely necessity.

[2021-01-06 15:41] ksraj123 commented on #1281
@karantakalkar then we could add event listeners on the document level to listen for move movement, clicks or keypress. When they do then they will reset a timer function. If the timer is not reset in within the predefined interval of inactivity then the user will be logged out. What do you think?.

[2021-01-06 15:51] karantakalkar commented on #1281
Fine. but still look around the internet for session management in angular 6+ for better ways of doing it and also check out community app implementation.

[2021-01-06 18:34] raghu0812199 commented on #1232
hi @karantakalkar  i want to work on this issue can please guide me

[2021-01-06 19:27] abhishekkumar08 opened #1289 "Only some parts of the web app has a tooltip text, adding tooltips to other icons would look good"
**Is your feature request related to a problem? Please describe.**
In the webapp only some of the icons has tooltip text, adding tooltips to other icons would change the look of the app.

**Describe the solution you'd like**
Adding tooltip text to the other icons also

Assign me this I can create a PR for the same.

[2021-01-06 19:35] Abhirup-99 commented on #1280
can I work on this issue?

[2021-01-06 21:16] ksraj123 commented on #1280
Hey @Abhirup-99 I kind of also worked on this issue sometime back (last year :-) ), almost halfway done and would like to continue if that's not an issue. Thanks
![auto complete](https://user-images.githubusercontent.com/39027928/103820336-2c15b700-5092-11eb-934b-ae8017df462a.gif)

[2021-01-06 21:24] Abhirup-99 commented on #1280
Mate, the issue is opened on Dec 5th. How could you have worked on it before?

[2021-01-06 21:27] Abhirup-99 commented on #1280
You cloned the repo yesterday.
![screenshot-github com-2021 01 07-02_56_23](https://user-images.githubusercontent.com/48902681/103821374-0c7f8e00-5094-11eb-8db6-3d1500b7b1d9.png)
Are you literally kidding me?

[2021-01-06 21:41] ksraj123 commented on #1280
@Abhirup-99 yeah, I forked the repo yesterday to make my first PR. Originally cloned this to my local machine sometime back to explore the codebase, tried to work on this issue for a bit as it seemed interesting. Already shared the state I left my work in.
Btw, there's plenty of room for everyone to contribute.
We are all here to learn.
You are free to work on this, if you want to.

[2021-01-06 21:45] Abhirup-99 commented on #1280
I guess this point still remains valid, no matter when you have cloned it.

[2021-01-06 21:50] ksraj123 commented on #1280
I don't understand, does December 2020 not count as last year?. I too think not really, hence the smiley after "last year" in my original comment.

You can take this if you find this really find this interesting.

Apologies for not commenting sooner, just got to learn this yesterday that we need to comment first. Will keep in mind from next time.

[2021-01-06 22:02] Abhirup-99 commented on #1280
Issue wasn't specifically about December or my love for for this particular issue, it was the approach.Regardless, peace :v:

[2021-01-07 08:37] raghu0812199 commented on #1213
hi @karantakalkar i would like to work on  Fixed Deposits module if it is still open

[2021-01-07 13:40] francisguchie commented on #1280
Yes @ksraj123 ,
This is what i meant - by predictive text input with account numbers showing on the GL names. Please raise a PR so that all of us can enjoy your efforts

[2021-01-07 15:48] karantakalkar commented on #1213
@raghu0812199 FD has already been covered pick any other module
@shubhamkorde go ahead, sorry for the delay.

[2021-01-07 16:13] karantakalkar commented on #1280
@ksraj123 Please work 1 issue at time and don't block multiple issues for yourself currently I assume you were working on #1281. @Abhirup-99 you can look around the app and test features for bugs in case you are short on issues to work on, that would be helpful to us.

[2021-01-07 17:18] ksraj123 commented on #1280
@karantakalkar yes, working on it. This needed.just a little more work so finished this first.

@francisguchie @karantakalkar Please review the PR for this. Thanks

[2021-01-07 17:19] ksraj123 commented on #1281
@karantakalkar sure, on it. Thanks

[2021-01-07 18:09] abhishekkumar08 commented on #1270
@karantakalkar can I work on this issue?

[2021-01-07 18:12] karantakalkar commented on #1270
I am not sure about the scope of this task, it was a GSoC project this year or last year maybe. I'll suggest you to look for other simpler bugs before taking on such issues.

[2021-01-07 18:16] abhishekkumar08 commented on #1270
Okay will look for the same as said.

[2021-01-07 18:23] raghu0812199 commented on #1213
can i work on share module

[2021-01-07 19:11] abhishekkumar08 commented on #1213
@karantakalkar can I work on the products module?

[2021-01-07 19:40] abhishekkumar08 commented on #472
@karantakalkar , is anyone assigned or can I work on this?

[2021-01-08 08:36] karantakalkar commented on #472
@Abhirup-99 go ahead

[2021-01-08 10:20] Abhirup-99 commented on #1233
@karantakalkar can I work on this?

[2021-01-08 10:21] Abhirup-99 commented on #1231
Since the previous pr is closed now, can I go forward with this issue? @karantakalkar

[2021-01-08 10:55] #1286 closed

[2021-01-08 13:14] francisguchie commented on #1280
@ksraj123  thanks for this. I will review over the weekend ( I will do a functional review ) and make my comments here

[2021-01-10 12:47] Abhirup-99 commented on #1231
I was working on this issue, should I improve upon the work done in the previous pr or create a completely new one? @karantakalkar

[2021-01-10 13:02] shubhamkorde commented on #1213
Hii @karantakalkar the dateFormat which was hard-coded earlier is not the same as the one fetched from the service. This results in error "invalid parameters were passed in the request". I checked this by logging both. Please help!

[2021-01-11 12:12] Abhirup-99 commented on #1241
I revisited this issue to take a look at what can be done to resolve it. With the current implementation, OAuth won't have worked, regardless of whether it would have been sent as urlencoded or as GET parameters.
There are 3 current issues with the code.
1. Below is the curl request that would have worked
[code]
  whereas this is the current code before my implementation
[code]
2. there is a race

[2021-01-11 13:34] Abhirup-99 opened #1295 "Date fields allow inputs in formats which won't be accepted by BE"
## Description
The date fields being text fields accept all types of input.
In the attachment below, I have added 3 types of input. The first two are technically correct but they are violations because of
- it doesn't follow mm-dd-yyyy
- it has a date that is invalid in the context as it's a future day.
The last one is a text.
## Steps to Reproduce
Try typing in the date fields.
Don't assume the r

[2021-01-11 13:37] Abhirup-99 commented on #1295
The issue can be easily solved by opening the calendar when those corresponding date fields are in focus. I can create a pr for this issue.

[2021-01-11 15:45] abhiarrathore opened #1296 "improve login page performance and looks"
Currently the image in the login page is of very large size and is of jpg format. This gives a bad impression of overall load time of login page. I propose to reduce the image size and change its file type from jpg to webp. The webp file format is recommended file format for web as it gives better compression.

Original image size - 5.3MB
New image size - ~400KB

And I also wish to change how the

[2021-01-11 16:53] abhiarrathore commented on #1296
Can I work on this?

[2021-01-12 04:00] shubhamkorde commented on #737
I can help with this.

[2021-01-12 06:27] karantakalkar commented on #1296
Go ahead for image size but don't change the appearance of login page.

[2021-01-12 06:51] abhiarrathore commented on #1296
ok. sure.

[2021-01-19 17:52] abhishekkumar08 commented on #1213
@karantakalkar I'm starting on shares module.

[2021-01-19 18:03] BLasan commented on #1213
go ahead

[2021-01-19 18:46] abhishekkumar08 commented on #1213
@BLasan  Some files are yet to be refractored in savings module, working on that.

[2021-01-19 18:47] abhishekkumar08 commented on #1213
@BLasan  Some files are yet to be refractored in savings module, working on that.

[2021-01-20 05:20] rrpawar96 commented on #1270
PR is been created, will be completed soon. https://github.com/openMF/web-app/pull/1299

[2021-01-20 23:08] edcable commented on #1296
@abhiarrathore I would still like to see a mockup of how you might intend to redesign the log-in page. No need to implement a new page but seeing the proposed design would allow us to respond and give feedback. Thanks!

[2021-01-21 06:40] abhiarrathore commented on #1296
@edcable I will redesign the login page and post it here as soon as it is ready. Thanks!

[2021-01-25 14:24] chairulakmal opened #1304 "TranslateModule not exported from SharedModule"
## Description
ngx-translate TranslateModule not yet imported in SharedModule. This will results in `ERROR in : The pipe 'translate' could not be found`

## Steps to Reproduce
Use the `translate` pipe on HTML components (for example in home.component.html):
[code]

## Expected Behaviour

`translate` pipe works for i18n.

## Actual Behaviour

`ERROR in : The pipe 'translate' could not be found`

##

[2021-01-25 19:55] abhiarrathore commented on #1296
![REDESIGN 1](https://user-images.githubusercontent.com/35148394/105758304-1c90dc00-5f75-11eb-8a1f-1b0abbf5f7da.png)

This is the first redesign I thought. This is mostly same as the previous one with some changes.

[2021-01-25 19:59] abhiarrathore commented on #1296
![REDESIGN 2](https://user-images.githubusercontent.com/35148394/105758657-7d201900-5f75-11eb-9af0-571145e54929.png)

This is the second redesign. Very minimal. Clicking on the login at the top-right corner can open a modal or a new page for login.

[2021-01-25 20:01] abhiarrathore commented on #1296
https://www.figma.com/file/OGQ89gFSyDkYsaCA8Q5MgQ/mifos-login?node-id=1%3A4

This is the figma link of the designs. It has 2 artboards, one for each design.
@edcable please have a look at it.
Thank You!

[2021-01-25 20:04] Abhirup-99 commented on #1304
translate module hasn't been implemented for the entire app, so this might be part of some small minor additions, here and there.

[2021-01-26 03:31] chairulakmal commented on #1304
Thanks @Abhirup-99 for the information. I'm currently working on setting up translation, should I push it to upstream later when finished? Or is this not a priority for the project? Cheers!

[2021-01-26 08:07] Abhirup-99 commented on #1304
Thanks for working on this. AFAIK this was supposed to be a GSOC project for this year.

[2021-02-01 06:25] goel-aman commented on #1213
@BLasan @karantakalkar can i work on system module if it is still open.

[2021-02-01 12:51] karantakalkar commented on #1213
Go ahead @goel-aman

[2021-02-05 16:38] surbhigoel191 opened #1306 "Sidebar's icons' names not visible"
## Description
On the home page of Mifos web-app, no textbox appears on hover on any icon in the sidebar having a name of the page, it will take to, due to which new users may have to click on various icons to get to the right page.

## Steps to Reproduce
Mouse-hover on any icon on the home page of the web-app.

## Expected Behaviour
Name of the icon appears on hover.

## Actual Behaviour
Nothing

[2021-02-05 18:27] surbhigoel191 opened #1307 "Text not visible in dark mode"
## Description
In dark mode (i.e. last 2 color schemes), text is not visible in quite few places like Keyboard shortcuts.

## Steps to Reproduce
Choose any theme from the last 2 and observe difference.

## Expected Behavior
Text color should change according to the theme as to not hamper the visibility.

## Actual Behaviour
Text not visible.

## Settings
- Mifos X version: 0.0.0
- Browser used: Ne

[2021-02-05 18:39] surbhigoel191 commented on #1306
Just saw that the same issue has been addressed by #1290 so closing it.

[2021-02-05 18:39] #1306 closed

[2021-02-05 18:45] surbhigoel191 commented on #1307
I will start working on it.

[2021-02-10 10:19] ayan-biswas0412 commented on #1228
can I work on this ? is this issue workable or I need some APIs ?

[2021-02-14 00:04] mittulmandhan commented on #1213
Can I work on the Product module? @karantakalkar

[2021-02-17 07:00] BLasan commented on #1307
Have you started working on this?

[2021-02-20 19:23] Adityakushwaha142 commented on #1296
is this issue is still open now !!

[2021-02-24 11:11] prathameshbhalekar commented on #1295
Can I work on this issue?

[2021-02-26 18:08] prathameshbhalekar commented on #1295
@Abhirup-99 ?

[2021-02-28 06:36] Adityakushwaha142 opened #1309 "I tried to buid the web app in my localsystem but it showing this eroor will anyone can help"
FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory
 1: 00007FF717FA5EBF napi_wrap+114095
 2: 00007FF717F50B46 v8::base::CPU::has_sse+66998
 3: 00007FF717F51946 v8::base::CPU::has_sse+70582
 4: 00007FF718766E4E v8::Isolate::ReportExternalAllocationLimitReached+94
 5: 00007FF71874EF21 v8::SharedArrayBuffer::Externalize+833
 6: 00007FF71861B18C v8

[2021-02-28 20:11] Abhirup-99 commented on #1309
what command did you use?

[2021-02-28 20:11] Abhirup-99 commented on #1309
use `npm run build:prod`

[2021-03-30 10:01] bharathcgowda opened #1313 "Bulk Import not working"
## Description
when we try to import office with a bulk import feature. the system is throwing an exception "One or more of the given parameters not found"

## Steps to Reproduce
To reproduce
1.go to admin->organization->office
2. click on "import offices button"
3. try to upload the bulk office file in the requested template format.
Refer attached sample upload template

![image](https://user-ima

[2021-03-30 11:36] bharathcgowda opened #1314 "unable to select future dates while creating a holiday"
## Description
when we try to create holidays, "from date" and "to date" fields are not allowing to select dates further than the current date.
hence not able to create holidays for future dates

## Steps to Reproduce
go to admin->organization->manage holidays
->create a holiday with future date(greater than the current date
the date picker will not allow to select the future dates
## Expected Beh

[2021-03-30 12:36] bharathcgowda opened #1315 "Activation button of holiday is not working"
## Description
when we create a holiday, we have to activate it, but the Activation button is not working

## Steps to Reproduce
1. go to admin->organization->manage holidays
2. create a holiday
3. try to activate the holiday

## Expected Behaviour
activate button should activate the created holiday

## Screenshots, if any
![image](https://user-images.githubusercontent.com/65952533/112989554-aaaa5

[2021-03-30 12:46] bharathcgowda opened #1316 "create holiday should select all child offices when parent office is selected (to make it hierarchical)"
## Description
while creating a holiday, office selection is a checker where a user has to select one office at a time,
we have to make the office select hierarchical, for example, if we select head office by default all offices under head office should be selected.

## Steps to Reproduce
1. create multiple offices under head office (this is for an example to demonstrate hierarchical structure)
2.

[2021-03-30 12:56] bharathcgowda opened #1317 "Import Employees functionality not working"
## Description
Import Employees functionality not working or not sure if that feature is not yet developed.
If not, we have to develop as per the community app feature.

## Steps to Reproduce
1.go to admin->organization-> manage employees
2. click on Import employees
system is taking to a 404 blank page

## Expected Behaviour
Import employees option should be available

## Screenshots, if any
![im

[2021-03-30 16:38] bharathcgowda opened #1318 "Bulk Import feature not working"
## Description
Bulk Import feature for entities like office, staff, etc are not working, it is throwing an exception "one or more of the given parameters are not found"

## Steps to Reproduce
1. go to admin-> organization->bulk import
2. try to download and upload any bulk entities
3. it will fail with the error message "one or more of the given parameters are not found"
have tested for office, st

[2021-03-30 16:45] bharathcgowda commented on #1230
@karantakalkar @edcable   can this be worked as a task under GSOC 2021, If not can we allow @Abhirup-99 to work on it? or any other interest Developer.

[2021-03-30 17:44] Abhirup-99 commented on #1230
If it comes under GSOC 2021, I would love to work on it. I have already contributed a lot to this repo before, you can check my contribution [here](https://github.com/openMF/web-app/pulls?q=is%3Apr+author%3AAbhirup-99+)

[2021-04-02 10:44] bharathcgowda opened #1319 "Data tables - Edit Delete options not available for multi row"
## Description
When we create a Datatable with multi-row and add all the entries at the entity level, there is no option to modify or delete the entries of that entity.

for example, create a Datatable named "employee record" with Multi row enabled(have shares screenshot for the same"
then go to the client

## Steps to Reproduce
1. Create a Datatable at any entity level with multi-row enabled
exam

[2021-04-02 10:51] bharathcgowda opened #1320 "Data-table drop down issue"
## Description
Create a datatable for any entity with a drop-down as a column.
Then create the entries for that datatable at the entity level which will display the code ID of the dropdown, not the relevant name(code value)

## Steps to Reproduce
1. Create a Datatable at any entity level with one column as a dropdown value
example named "employee drop down" (have shares screenshot for the same)

g

[2021-04-02 11:23] bharathcgowda opened #1321 "Scheduler jobs invoking issue"
## Description
Scheduler jobs invoking Issue, when we select the job and press "run selected job" button, jobs are not executing

## Steps to Reproduce
1. go to admin->system->scheduler jobs
2. select any job(non dependency job like "update loan summary")
3. and press "run selected job" button

## Expected Behaviour
selected job should run

## Screenshots, if any
![image](https://user-images.githu

[2021-04-02 11:36] bharathcgowda opened #1322 "Scheduler jobs "suspend" button not working"
## Description
Scheduler jobs "suspend" button not working
not a manage issue.
## Steps to Reproduce
1. go to admin->system->"manage scheduler jobs"
2. click on suspend button

## Expected Behaviour
all jobs has to be suspended until, it is activated back

## Screenshots, if any
![image](https://user-images.githubusercontent.com/65952533/113412411-ce191700-93d5-11eb-9017-1e5c9c0a89d5.png)

[2021-04-02 11:56] bharathcgowda opened #1323 "Survey functionality Edit option not working"
## Description
Provide a brief overview of the enhancement or issue.

## Steps to Reproduce
1. go to admin->system->manage surveys
2. create a survey
3. try to edit a survey

## Expected Behaviour
edit option should allow users to modify the survey fields

## Screenshots, if any
![image](https://user-images.githubusercontent.com/65952533/113413426-4f71a900-93d8-11eb-8ec2-55972898b10b.png)

[2021-04-02 12:07] bharathcgowda opened #1324 "unable to add a survey to the client"
## Description
unable to add a survey to the client

## Steps to Reproduce
1. first create a basic survey at admin->system->manage surveys
2. go to institution->client and select any client
3. in client screen go to more and click on survey
4. click on take survey and select a survey
5. now submit the survey

## Expected Behaviour
user should be able to submit the survey successfully

## Screensho

[2021-04-04 12:57] karantakalkar commented on #1230
Yes @bharathcgowda but where will we list it ? ASF ? Mifos isn't in GSoC this year.

[2021-04-06 14:45] bharathcgowda commented on #1230
Hi, @karantakalkar  as you said Since Mifos isn't in GSoC this year, I am not sure we can work on this issue in 2021 by listing in ASF.
We might have to do it outside of GSoC as there is no code change required at Fineract End and all APIs are ready to connect.

[2021-04-17 19:09] elizamota commented on #1324
After inspecting the errors produced by the submit button I found that the first error produced would be solved by an Access-Control-Allow-Origin header. This error is produced when the browser refuses access to a remote resource which usually happens when trying to execute a cross domain request. There is also a chrome extension that can be used to fix this error temporarily which is what I used.

[2021-04-17 19:09] samerdar1234 commented on #1314
Currently working on it

[2021-04-19 08:38] bharathcgowda commented on #1324
thank you for the analysis and detailed explanation @elizamota, @BLasan  will you be able to look into this issue once?

[2021-04-19 08:48] bharathcgowda commented on #1314
@samerdar1234  thank you, please reach out to me if you need any help.

[2021-04-19 12:14] BLasan commented on #1324
@bharathcgowda I think this is not an issue with the server. I tried the same surveys as in @elizamota 's Screenshots. But I'm not getting any issues. I think this needs to be fixed in the front-end. No issues with the released version of Mifos (Community-App).
Try the same scenarion using the host `https://dev.mifos.io`

[2021-04-19 12:31] elizamota commented on #1324
Both @bharathcgowda and I were on the local host when the error appeared so it could just be the Access-Control-Allow-Origin header. If you tried the same scenario on the local host it would produce the error from the original issue.

[2021-04-19 12:45] BLasan commented on #1324
@bharathcgowda  @elizamota
![Screenshot from 2021-04-19 18-14-44](https://user-images.githubusercontent.com/43112139/115238318-2e7cb800-a13b-11eb-84f6-aa9115d35153.png)

[2021-04-22 18:59] bharathcgowda commented on #1313
the same issue exists for clients, loans, loan transactions, savings account, and savings transactions uploads.
however, the same excels are working on community-app template with same Fineract.

[2021-04-22 21:14] samerdar123 commented on #1315
Is the expected functionality just to have the activate button to have a little lock signal and for the holiday to have an activated status on the user's end? Or is there something else that should be happening upon activation?
![image](https://user-images.githubusercontent.com/37407835/115785908-1badf180-a38e-11eb-8a1f-d57cd51895a7.png)

[2021-05-01 10:51] bharathcgowda commented on #1315
Holidays that are activated only will affect the schedules of loans. in other words, holidays are created to shift the payments and installments which fall on those days, system will do that for holidays that are activated, and not for "pending for activation" status.

clicking on Activate button should internally call the API https://DomainName/api/v1/holidays/{holidayId}?command=activate from wh

[2021-05-13 17:02] Austin-Mislevy commented on #1318
Hi @bharathcgowda and @angelcbo   I can take this issue and make the change and make a PR if that is okay?

[2021-05-14 11:50] bharathcgowda commented on #1318
Hi @Austin-Mislevy , sure you could help on that,  I have assigned the ticket to you.

[2021-05-17 19:03] Austin-Mislevy commented on #1318
@bharathcgowda I have opened a pull request for this issue.

https://github.com/openMF/web-app/pull/1331

[2021-05-18 16:51] vinmehta16 commented on #737
I can help with this too. Please let me know!!

[2021-05-21 11:23] #1314 closed

[2021-05-22 11:44] #1289 closed

[2021-05-26 11:13] JemCdo commented on #1279
Am having the same issue (On clicking the next button, Nothing happens), @francisguchie Did you manage to solve? How?

[2021-05-26 14:41] JemCdo commented on #1279
On my browser console I get bellow errors

![Capture](https://user-images.githubusercontent.com/40404495/119679766-4ab1fa00-be49-11eb-80d2-63af2bc2e0cc.PNG)

but when I comment out line 31 on loan-product-charges-step.component.ts am able to create Loan Products and errors on console disappear

[2021-05-27 19:24] Austin-Mislevy commented on #1323
Is this an old feature that was implemented and not working properly or has this not been implemented yet?

[2021-05-27 19:28] Austin-Mislevy commented on #1309
@Abhirup-99 Can we close this issue? Seems like there's no further action to take here.

[2021-05-27 19:32] Austin-Mislevy commented on #1313
@bharathcgowda Can we close this issue? It seems like we have a duplicate ticket above.

[2021-06-01 07:36] bharathcgowda commented on #1313
Hi @Austin-Mislevy  Could you please tag the duplicate ticket here? I will review and close it. thank you :)

[2021-06-01 07:37] bharathcgowda commented on #1323
@Austin-Mislevy  It is an old feature already implemented. but not working.

[2021-06-01 13:21] Austin-Mislevy commented on #1323
@bharathcgowda Great. I can take a look at this issue.

[2021-06-01 13:27] Austin-Mislevy commented on #1313
@bharathcgowda Sure. I believe #1318 is referencing the same error.
https://github.com/openMF/web-app/issues/1313

[2021-06-02 11:17] bharathcgowda commented on #1313
Thanks, I am closing this ticket accordingly :)

[2021-06-02 11:17] #1313 closed

[2021-06-03 11:27] JemCdo commented on #1324
@BLasan @elizamota @bharathcgowda I had a same issue today on https://github.com/openMF/web-app but then I switched to https://github.com/openMF/community-app/ and everything is working fine on same same server as tested by @BLasan

[2021-06-04 10:14] bharathcgowda commented on #1324
Right,thank you for testing this @JemCdo.

We have to fix the issue on the web-app project as well.

[2021-06-04 13:41] JemCdo commented on #1279
@bharathcgowda can you also check this, Its working fine on the community app but not on the web-app

[2021-06-26 02:49] BLasan opened #1334 "Collateral Module"
**Is your feature request related to a problem? Please describe.**
It's better to have a collateral management module in order to manage the collateral data. This can be categorized in to 3 sub components.
1.) Product Level Collateral Module - Add, Edit, Delete and Update collateral

2.) Client Level Collateral Module - Add, Edit, Delete and Update client level collateral data which can then be us

[2021-06-26 02:52] BLasan opened #1335 "Undoing a waived charge"
**Is your feature request related to a problem? Please describe.**
Users should be able to reverse a waived charge transaction in loan account.

**Describe the solution you'd like**
See [PR](https://github.com/openMF/community-app/pull/3399).

**Describe alternatives you've considered**
 -

**Additional context**
 -

[2021-07-01 18:00] bharathcgowda opened #1338 ""ng build --prod" build is not working"
## Description
when we build the project with ng build --prod, and use the built artifact in tomcat server, it is not working.
We are getting a black screen in place of the login screen

## Steps to Reproduce
1. run the command 'ng build --prod'
2. copy the built artifact inside the dist folder to the tomcat's webapp folder and start the server(the same we do for community-app)
3. try to login wit

[2021-07-02 08:17] bharathcgowda commented on #1338
@edcable, because of this issue, we will not be able to include this as a production build in our release.

[2021-07-05 12:37] bharathcgowda commented on #1338
using "npm run build:prod" works as an alternative command. closing this ticket and will update the readme file accordingly

[2021-07-05 12:37] #1338 closed

[2021-07-05 13:08] T-lang opened #1340 "Docker Build fails from Docker file"
## Description
Setting up the application with Docker fails in step 9/11

## Steps to Reproduce
1. Install Docker
2. git clone https://github.com/openMF/web-app.git
3. docker build -t openmf/web-app:latest .

## Expected Behaviour
Build Application

## Actual Behaviour
Fail in build from line
COPY --from=builder /usr/src/app/dist/web-app /usr/share/nginx/html
Output: COPY failed: stat usr/src/app/

[2021-07-19 14:31] BLasan opened #1341 "Repayment With Post Dated Checks"
**Is your feature request related to a problem? Please describe.**
See [FINERACT-493](https://issues.apache.org/jira/browse/FINERACT-493)

**Describe the solution you'd like**
See [PR](https://github.com/openMF/community-app/pull/3405)

**Describe alternatives you've considered**
This feature is an optional one which can be configured during a loan disbursement.

[2021-07-19 14:37] BLasan opened #1342 "Transfer Funds from Savings to Share Account"
**Is your feature request related to a problem? Please describe.**
See [FINERACT-791](https://issues.apache.org/jira/browse/FINERACT-791)

**Describe the solution you'd like**
See [PR](https://github.com/openMF/community-app/pull/3408)

**Describe alternatives you've considered**
Currently there's no option to transfer funds from savings account to share account to purchase shares.

[2021-07-22 14:49] CesarCrZy commented on #1279
I get the same error in the web application, any solution?

[2021-07-23 09:04] bharathcgowda commented on #1279
@CesarCrZy  The issue is identified and raised for the community developers/volunteers to work on the issue. which is yet to be picked by the interested candidates.
 if you are a developer, it would be great if you can analyze and send the fix to the codebase.

[2021-07-31 07:52] Chathu94 commented on #1340
+1

[2021-07-31 10:53] tk512 commented on #1340
/app/dist/web-app /usr/share/nginx/html

The docker build fails here because the environment.ts or environment.prod.ts files in your src/environment folder is lacking variables.  These are normally found in .env, but if you do not have that, it won't build.

You will need to create an .env file like the following before running the docker build:

[code]

[2021-07-31 16:06] Noe-Garcia commented on #1340
Hi, check this PR to solve this problem https://github.com/openMF/web-app/pull/1344

[2021-08-02 22:52] gustavao commented on #1315
Hi, I found the problem adding the request in the service. I've sent pull request
https://github.com/openMF/web-app/pull/1345
greetings!

[2021-08-02 23:03] gustavao commented on #1317
Hi, I found the problem adding the correct route. I've sent pull request
#1346
greetings!

[2021-08-05 23:27] edcable opened #1350 "Unable to create new Bulk JLG Loan Application from Group"
## Description
Link from Applications drop down to Bulk JLG Loan Application does nothing

## Steps to Reproduce
Navigate to any group, click applications, click Bulk JLG Loan Application
## Expected Behaviour

Clicking link should trigger create new application

## Actual Behaviour

Nothing occurs

## Settings

Chrome, Mifos X 21.07

## Screenshots, if any

![Screenshot 2021-08-05 16 24 46](https

[2021-08-05 23:42] edcable opened #1351 "Unable to create new Group Loan Application from Group"
## Description

Link from Applications drop down under a Selected Group for Group Loan Application does nothing

## Steps to Reproduce
Navigate to any group, click applications, click Group Loan Application

## Expected Behaviour
Clicking link should trigger create new application
## Actual Behaviour

Nothing occurs
## Settings
Chrome, Mifos X 21.07
![Screenshot 2021-08-05 16 24 46](https://user-i

[2021-08-05 23:46] edcable opened #1352 "Link to create new JLG Loan Application from Member listing under Group doesn't work"
## Description
The "plus sign" button create a new JLG loan application for an individual member of a group from the listing of group members at the group level should trigger creating a new loan application but rather it just links to the client record.

## Steps to Reproduce
Navigate to any group, scroll down to list of members and click JLG Loan Application button next to any members.

## Expec

[2021-08-08 07:43] #1213 closed

[2021-08-10 08:56] bharathcgowda opened #1356 "Payment type dropdown not working for make repayment"
## Description
Payment type dropdown not coming for make repayment

## Steps to Reproduce
1. go to admin->organization->payment type and add payment types.
2. create/disburse a loan account(with any configuration ) and try to make a repayment by selecting a payment type

## Expected Behaviour
expected behavior is that we need to get a drop down to select the payment type during the repayment
## Ac

[2021-08-10 09:08] bharathcgowda opened #1357 "URL configuration is hardcoded"
## Description
Currently, the URL which we use to select the back end to connect is hardcoded at the backend, need to add a configuration to
add or modify the backed URL which we need to connect.
![image](https://user-images.githubusercontent.com/65952533/128840020-9080cb70-ea58-4713-85a0-1e57754a34c3.png)

[2021-08-13 22:11] lizeth9797 commented on #1249
Hello @BLasan , is this issue still open?

[2021-08-17 15:05] CesarCrZy commented on #1324
I´ve found the issue under src/app/clients/clients-view/clients-actions/take-survey/take-survey.component.ts

The way to get **clientId** is wrong, so when the request send, **clientId** is undefined, the parameter for get that id should be **this.route.parent.snapshot.paramMap.get("clientId");** but its written **this.route.parent.parent.snapshot.paramMap.get("clientId");**

[2021-08-17 15:19] bharathcgowda commented on #1324
Hi @CesarCrZy  thank you for finding the root cause, will you be able send a PR for the same?

[2021-08-17 16:50] CesarCrZy commented on #1324
Sure!

[2021-08-23 14:09] noelbejarano commented on #630
Hi, currently this issue has already been solved with the following PR: https://github.com/openMF/web-app/pull/1354.

[2021-08-24 19:55] #1317 closed

[2021-08-28 13:07] bharathcgowda commented on #1304
issue resolved

[2021-08-28 13:07] #1304 closed

[2021-08-28 13:07] bharathcgowda commented on #1307
issue is fixed.

[2021-08-28 13:07] #1307 closed

[2021-08-28 13:09] bharathcgowda commented on #1315
issue fixed.

[2021-08-28 13:09] #1315 closed

[2021-08-28 13:19] bharathcgowda commented on #630
fixed with the PR #1354

[2021-08-28 13:19] #630 closed

[2021-08-28 13:31] bharathcgowda commented on #1318
issue is fixed

[2021-08-28 13:31] #1318 closed

[2021-11-18 23:56] tonic889 commented on #1356
I would like to take a look at this one, please assign to me.

[2021-11-19 06:48] bharathcgowda commented on #1356
Hi, @tonic889  thank you for your interest in looking into this issue, I have assigned the ticket to you now.
Feel free to reach out if you need any more information.

[2021-12-16 19:19] shijesh-kumar opened #1365 "Loan Production Creation not working"
Hi,

Loan Product Creation screen is not working.

## Steps to Reproduce
1. Click on menu Admin >Product
2. Select Loan product from the list
3.  Click on "Create loan Product" button
4.  In the screen which open on clicking "Create Loan Product" enter all the details
5. Click on Next Button

## Expected Behaviour
System should move to next page/step
## Actual Behaviour
Nothing happens on clicking

[2021-12-22 17:55] afk11 opened #1366 "Translations fail to load when not hosted on domain root"
## Description

In master, there is an issue loading translations when the app is published in a path like `example.com/web-app/` like the github pages https://openmf.github.io/web-app/

When hosted on the domain, this part would succeed (although I understand there are other quirks)

The line responsible for this is here, which simply uses the hostname, not the proper URL

https://github.com/open

[2022-02-08 08:40] StevyMarlino commented on #1351
hello  can i do that ?

[2022-02-10 03:45] edcable commented on #1351
Yes please feel free to.

[2022-02-22 18:57] hexdecimal16 opened #1377 "Angular 13+ support"
The current version of the app is using Angular 9 it would be nice to upgrade it to angular 13+ as it supports faster reloads when developing and support for rxjs 7+

[2022-03-01 03:41] Claire56 opened #1379 "Docker build fails from dockerfile"
## Description
The docker build command fails with the error below
![image](https://user-images.githubusercontent.com/31630227/156098858-9db151e3-ab1c-443d-b01a-256d2655248e.png)

second try error:
![image](https://user-images.githubusercontent.com/31630227/156100080-081d1a1c-2708-4602-ae73-5324f9883621.png)

## Steps to Reproduce
1. git clone https://github.com/openMF/web-app.git
2. cd web-app
3.

[2022-03-12 04:40] edcable commented on #1365
Confirming that I face this same issue as well. Thanks @shijesh-kumar for logging.

Here is my Chrome Console log:

https://pastebin.com/cDXDWv9c

[2022-03-12 04:46] edcable opened #1382 "Chart of Accounts Tree View does not display"
## Description
Clicking the tree view button for chart of accounts results in blank page.

## Steps to Reproduce
Navigate to accounting, click chart of accounts, click tree view button.
## Expected Behaviour

Chart of accounts to be displayed in nested tree view.
## Actual Behaviour

Chart of accounts not displayed on screen.

## Settings
- Mifos X version:
- Browser used:

## Screenshots, if any

[2022-03-12 04:54] edcable opened #1383 "Unable to click through to any client from clients tab"
## Description
When trying to navigate to a client from the clients table, it displays this error -
Reporting meta-data entry not found.

## Steps to Reproduce
Navigate to clients, attempt to click any client.
## Expected Behaviour

Navigate to the client page for the name that was clicked.
## Actual Behaviour
Doesn't navigate anywhere and only displays this error.

Reporting meta-data entry not f

[2022-03-12 05:02] edcable opened #1384 "Can't view general tab of client"
## Description
Unable to view and see the general tab of the client that contains summary of all their accounts.

## Steps to Reproduce
Navigate to a client and/or click general tab.

## Expected Behaviour
List of accounts to be displayed

## Actual Behaviour

Reporting meta-data entry not found error displayed.

## Settings
- Mifos X version:
- Browser used:

## Screenshots, if any

![Screenshot

[2022-03-12 16:46] bharathcgowda commented on #1382
@edcable  there is an existing ticket with more details
Ticket number #578
Shall we close this ticket to avoid the duplicate tickets?

[2022-03-15 06:46] #1382 closed

[2022-03-28 14:49] #1296 closed

[2022-04-04 16:15] sksDonni commented on #1352
Hi @edcable, just saw that this issue was open and the issue is still persisting in the web app. Can I take this up?

[2022-04-06 06:22] mittulmandhan commented on #1323
This issue is resolved in Pull Request [#1282](https://github.com/openMF/web-app/pull/1282) but it is yet to be merged.

[2022-04-16 14:36] ren276 commented on #1384
I think this error is fixed, but if still there then I can help!

[2022-04-18 15:30] hexdecimal16 commented on #1377
#1371

[2022-04-25 10:35] #1352 closed

[2022-05-08 20:15] Rolence opened #1392 "Data selection form field issue and no API requests works. Constantly throw 400 bad requests"
All forms collecting date throws this error.
main.js:1 ERROR SyntaxError: Unexpected token e in JSON at position 0
    at JSON.parse (<anonymous>)
    at t.get [as language] (main.js:1:1682129)
    at t.submit (main.js:1:4900774)
    at main.js:1:4901957
    at ga (main.js:1:903921)
    at r (main.js:1:904083)
    at e.o [as _next] (main.js:1:940244)
    at e.__tryOrUnsub (main.js:1:980751)
    at

[2022-05-16 13:26] galovics opened #1393 "Ability to configure targeted server via environment variables"
**Is your feature request related to a problem? Please describe.**
Currently there's no way to configure the targeted fineract server via environment variables.
The only way to change it is via editing the web-app.components.ts and environment.prod.ts files but it's definitely more cumbersome than just providing an environment variable configuration.

**Describe the solution you'd like**
Be able t

[2022-05-20 18:37] bharathcgowda opened #1394 "Audit Trail button not working"
## Description
Audit Trail button not working when we click on it

## Steps to Reproduce
go to admin->system ->audit trail

## Expected Behaviour
audit trail screen should open
## Actual Behaviour
currently it is not going to audit trail screen
## Settings
- Mifos X version:
- Browser used:

## Screenshots, if any
![image](https://user-images.githubusercontent.com/65952533/169591693-5565a3d8-bd47-

[2022-05-20 18:48] bharathcgowda opened #1395 "Unable to add new chart of accounts"
## Description
not able to add a new chart of account

## Steps to Reproduce
1. Go to the accounting tab->chart of accounts and click on add account button
2. now try to create any GL.

## Expected Behaviour
A New Ledger should be created when submitted

![image](https://user-images.githubusercontent.com/65952533/169592861-7a53a574-e377-4d70-bb06-8fdcb05b738a.png)

[2022-05-20 18:50] bharathcgowda opened #1396 "Unable to create a Frequent Posting Entry"
## Description
Unable to create a Frequent Posting Entry

## Steps to Reproduce
go to accounting and client on "frequent postings"

## Screenshots, if any
![image](https://user-images.githubusercontent.com/65952533/169593281-b4b5ef7b-8154-4243-bbc0-158d257fddb7.png)

[2022-05-20 18:55] bharathcgowda opened #1397 "Not able to create a manual journal entry"
## Description
Not able to pass a manual journal entry, when you click on submit button, it is showing internal server error

## Steps to Reproduce
1. go to accounting
2. click on "create journal entries"
3. enter the details and press submit

## Expected Behaviour
need to submit the the manual journal entry which clicked on submit button
## Actual Behaviour

## Settings
- Mifos X version:
- Brows

[2022-05-20 18:57] bharathcgowda opened #1398 "Not able to add "Accounting rules""
## Description
Not able to add "Accounting rules"

## Steps to Reproduce
Go to accounting and click on the "Accounting rules" option
## Expected Behaviour

## Screenshots, if any
![image](https://user-images.githubusercontent.com/65952533/169594309-12b2479b-222d-4a89-9f37-19080544e3b1.png)

[2022-05-20 19:00] bharathcgowda opened #1399 "Not able to post accrual entries from accounting section"
## Description
Not able to post accrual entries from the accounting section

## Steps to Reproduce
1. go to accounting
2. click on accruals
3. and click on "run periodic accruals"

## Screenshots, if any
![image](https://user-images.githubusercontent.com/65952533/169594718-ae42a0ba-779e-49d9-9caa-0f209bc4e423.png)

[2022-05-20 19:05] bharathcgowda commented on #1384
Closing this as this issue no longer exists
![image](https://user-images.githubusercontent.com/65952533/169595409-daede979-43b9-46c0-b099-aa47ce966097.png)

[2022-05-20 19:05] #1384 closed

[2022-05-20 19:06] bharathcgowda commented on #1383
issue no longer exists
![image](https://user-images.githubusercontent.com/65952533/169595482-fdf57810-b3e9-4c1c-97dc-25e7cfe7935f.png)

[2022-05-20 19:06] #1383 closed

[2022-05-20 19:08] bharathcgowda commented on #1230
Enhancement is complete, hence closing the ticket
![image](https://user-images.githubusercontent.com/65952533/169595724-22c6f292-f690-460d-b659-f6264732728e.png)

[2022-05-20 19:18] bharathcgowda opened #1400 "Unable to create any product account(loans/FD and RD accounts)"
## Description
unable to create any account (loans/FD and RD accounts)

## Steps to Reproduce
1. go to any client
2. go to applications-> create new loan account
3. there is no submit button for loan account
4. only next (disabled) button

## Screenshots, if any
![image](https://user-images.githubusercontent.com/65952533/169596783-4e21cc5e-55a0-4fc6-bc12-fae1ead92730.png)
![image](https://user-ima

[2022-05-20 19:25] bharathcgowda opened #1401 "make repayment not working"
## Description
make repayment not working

## Steps to Reproduce
1. go to any active loan accounts
2. click submit button

## Screenshots, if any
![image](https://user-images.githubusercontent.com/65952533/169597894-a1631f96-0d4a-4021-802f-c370339304fd.png)

[2022-05-24 12:47] bharathcgowda commented on #1357
fixed

[2022-05-24 12:50] bharathcgowda opened #1402 "New Data Tables Creation not working"
## Description
New Data Tables Creation not working

## Steps to Reproduce
1. go to admin->systems->manage data tables
2. click 'create data table, add all the fields and click on submit
3.

## Screenshots, if any
![image](https://user-images.githubusercontent.com/65952533/170038434-6a5edd2f-6103-455b-b2e0-da5ca279cb54.png)

[2022-05-24 12:52] bharathcgowda opened #1403 "Modification of Existing Datatables not working"
## Description
Modification of Existing Datatables not working

## Steps to Reproduce
1. Go to admin->systems->manage datatables
2. select existing datatable, modify any field and submit

## Expected Behaviour

## Actual Behaviour

## Settings
- Mifos X version:
- Browser used:

## Screenshots, if any
![image](https://user-images.githubusercontent.com/65952533/170038896-6ed002e5-4660-4a4e-8b4e-769

[2022-05-24 12:57] #1365 closed

[2022-05-24 13:52] #766 closed

[2022-05-24 23:02] adamsaghy commented on #1402
**Observation**
Seems Fineract would like to get one more parameter: "entitySubType"

**Here is the error message:**
defaultUserMessage: "Validation errors exist."
developerMessage: "The request was invalid. This typically will happen due to validation errors which are provided."
errors: [{developerMessage: "The parameter entitySubType is mandatory.",…}]
0: {developerMessage: "The parameter entity

[2022-05-24 23:13] adamsaghy commented on #1401
**Observation**
The repayment happens but the afterward page redirect is not. For unknown reasons the webapp is trying to fetch data from "/loans/general?associations=all&exclude=guarantors,futureSchedule" which is a not existing endpoint.

**Proposed solution**
Must debug the WebApp scripts and find the spot where instead of the loan id it inject the "general" word into the API endpoint.

[2022-05-24 23:40] adamsaghy commented on #1400
**Observation**
Cannot complete the loan creation as it shows validation error for the "Terms".
The network tab (request-responses) are clear
The Console log is clear.
There is not much information what goes wrong...

**Use cases**
1. When "Digital Loan" is selected as Product, on the Terms page there is validation error, but the UI shows nothing and the console log is not helping either.
2. When

[2022-05-24 23:43] adamsaghy commented on #1397
Error:
{"timestamp":"2022-05-24T23:43:24.569+00:00","status":500,"error":"Internal Server Error","path":"/fineract-provider/api/v1/journalentries"}

Needs further investigation...

[2022-05-24 23:47] adamsaghy commented on #1395
**Observation**

When submitting a new GL account, the page does not get refreshed, so it may seems it  was not submitted. However it was. If you click again, you will get an error message as an entry is already exists with the provided GL code.

**Proposal**
UI should be fixed to be redirected to the list of GL accounts after a new entry got submitted

[2022-05-24 23:49] adamsaghy commented on #1394
**Observation**

It works now :)

[2022-05-25 12:35] bharathcgowda commented on #1394
it works now, I dunno the reason why it was throwing the "internal server error before". Closing this ticket for now

[2022-05-25 12:35] #1394 closed

[2022-05-25 22:17] edcable opened #1406 "Unable to create new loan product or share product"
## Description
Go to admin >> products and attempt to create either a loan product or share product. Upon submission after fully specifying all parameters, the following error is displayed:

<img width="1364" alt="Screen Shot 2022-05-25 at 3 04 45 PM" src="https://user-images.githubusercontent.com/823454/170377156-03789aef-7852-4ceb-b143-100f5411a556.png">

Functionality works fine for deposit, fi

[2022-05-26 06:55] bharathcgowda commented on #1395
currently being worked by https://github.com/anika-001

[2022-05-26 07:12] bharathcgowda commented on #1400
currently being worked by Ramveer
https://github.com/ramvr1256

[2022-05-26 09:21] adamsaghy commented on #1402
Fixed

[2022-05-26 09:21] #1402 closed

[2022-05-26 09:52] adamsaghy commented on #1397
Fixed

[2022-05-26 09:52] #1397 closed

[2022-05-26 09:53] #1395 closed

[2022-05-26 11:41] bharathcgowda commented on #1398
GSoC student Ramveer is working on this issue
https://github.com/ramvr1256

[2022-05-26 11:42] bharathcgowda commented on #1396
GSoC student Ramveer is working on this issue
https://github.com/ramvr1256

[2022-05-26 11:47] bharathcgowda commented on #1320
this issue is assigned to https://github.com/anika-001

[2022-05-26 11:47] bharathcgowda commented on #1319
this issue is assigned to https://github.com/anika-001

[2022-05-26 11:47] bharathcgowda commented on #1403
this issue is assigned to https://github.com/anika-001

[2022-05-26 14:37] adamsaghy commented on #1401
Works again, however some of the already existing accounts are in invalid state.

[2022-05-26 14:37] #1401 closed

[2022-05-26 14:37] #1356 closed

[2022-05-26 14:38] adamsaghy commented on #1356
Dear @tonic889
In the meantime @josehernandezfintecheandomx has already fixed this issue. Please forgive us to "snatch" this bug from you...

[2022-05-26 14:42] adamsaghy commented on #1406
@edcable I was able to create a Loan account. Could you please retest and share your configuration if the issues is still persisting?

[2022-05-26 16:35] #1406 closed

[2022-05-26 16:37] adamsaghy commented on #1400
FD account creation is fixed

[2022-05-26 16:43] adamsaghy commented on #1400
RD account creation is working

[2022-05-26 16:46] adamsaghy commented on #1400
Share account creation is working

[2022-05-26 16:49] adamsaghy commented on #1400
Loan account creation is working

[2022-05-26 16:49] #1400 closed

[2022-05-27 06:50] bharathcgowda commented on #1400
@adamsaghy  awesome :)

[2022-05-27 13:54] bharathcgowda opened #1415 "Charge name is not visible"
## Description
when we go to products->charges->and view charge details, the charge details screen doesn't display the charge name

## Steps to Reproduce
-go to admin->products->charges->click on any existing charge

## Expected Behaviour
charge name should be visiable along with other details of that charge. refer screenshot for reference
## Actual Behaviour

## Settings
- Mifos X version:
- Brow

[2022-05-27 14:07] bharathcgowda opened #1416 "mandatory date fields flash red during submission of any transaction"
## Description
mandatory date fields flash red during submission of any transaction
any transactions actions like

make loan approval
make loan disbursement
make repayment
add loan charge
make foreclose
make prepay loan
waive interest
etc
 any financial entry on the loan account having mandatory date field is having this issue

Same issue with respect to the savings account, FD account, RD account

[2022-05-27 14:10] bharathcgowda opened #1417 "Date Selection Improvement"
## Description
any screen which is having a date to enter, it is not poping up the date-picker automatically once the field is selected.

## Steps to Reproduce
-go to create client
- Click on Date of Birth Field
## Expected Behaviour
when you go to any date field, a date picker should automatically pop up
## Actual Behaviour

## Settings
- Mifos X version:
- Browser used:

## Screenshots, if any
!

[2022-05-27 14:14] adamsaghy commented on #1416
@bharathcgowda I challenge you! I strongly believe the  Make Repayment do not have the flash and the red during submission! :)

However if you still see it that means 1 thing:
- You need to clear the cache because something old got cached on your machine

[2022-05-27 14:18] bharathcgowda opened #1418 "view client screen is not showing the client who are pending for activation"
## Description
the view client screen is not showing the client who is pending activation
with status: Pending

## Steps to Reproduce
-create a client( do not activate )
- go back to view client screen (institution->clients)

## Screenshots, if any
![image](https://user-images.githubusercontent.com/65952533/170717650-6955890e-f6dd-4ba5-98ab-84adac6397ef.png)

[2022-05-27 14:19] adamsaghy commented on #1418
@bharathcgowda You will find them under the "closed clients" and thats a bug...

[2022-05-27 14:20] bharathcgowda commented on #1416
@adamsaghy  aah Yes, you fixed it yesterday :), I just wanted to give as much information as possible on the screens, and forgot about the fix which came yesterday.
can you share how you fixed it here? the hint which was discussed on slack?
that could be helpful for others who picks this

[2022-05-27 14:30] bharathcgowda opened #1419 "View loan screen at client screen is not showing the summary properly"
## Description
View loan screen at client screen is not showing the summary properly

## Steps to Reproduce
- go to any client
- go and create a loan account and make repayments
- and go to the client view screen

## Screenshots, if any
![image](https://user-images.githubusercontent.com/65952533/170718877-0f733b33-eb07-4139-a0c8-a6cebc18feb6.png)

[2022-05-30 12:09] bharathcgowda opened #1421 "Not able to create a multi disbursement(tranche) loan"
## Description
Not able to create a multi disbursement(tranche) loan account as we are not getting the tranche addition fields at loan creation level

## Steps to Reproduce
- create a loan product with enabling multi tranche]
- create a loan account with that product

## Expected Behaviour
- the system should allow capturing the tranche details

## Screenshots, if any
![image](https://user-images.

[2022-06-02 05:58] ramvr1256 commented on #1399
It is working correctly as of now.
![image](https://user-images.githubusercontent.com/59759301/171562763-8c460ee3-888d-48ab-8f18-b1520e67628b.png)

[2022-06-02 06:34] Rolence commented on #1403
![image](https://user-images.githubusercontent.com/11888675/171567601-d782ee10-2b6b-466b-8e1b-ec9529998a70.png)
The field for subEntityType has been removed totally. Datatables can't be created again

[2022-06-02 09:36] bharathcgowda commented on #1399
issue is fixed

[2022-06-03 06:38] ramvr1256 commented on #1398
Get API for getting Accounting rules is failing from the backend. Raised a fineract ticket [https://issues.apache.org/jira/browse/FINERACT-1630](https://issues.apache.org/jira/browse/FINERACT-1630)

[2022-06-03 06:39] ramvr1256 commented on #1396
Get API for getting Accounting rules is failing from the backend. Raised a fineract ticket [https://issues.apache.org/jira/browse/FINERACT-1630](https://issues.apache.org/jira/browse/FINERACT-1630)

[2022-06-03 12:20] bharathcgowda commented on #1415
Thanks for the fix @ramvr1256

[2022-06-03 12:20] #1415 closed

[2022-06-03 12:44] bharathcgowda opened #1428 "Adding max cap and mincap input parameters for charges"
API level Fineract/MifosX supports charges to have a minimum (mincap) and Maximum(maxcap) set in the system.. so the charge would by default take those value when the calculation of charge goes beyond the set paramters.

You can refer the API Document for reference

https://demo.mifos.io/api-docs/apiLive.htm#charges
minCap
Optional: Can be used when a '% of Amount' value is used for chargeCalculat

[2022-06-04 05:45] bharathcgowda commented on #1419
working as expected

[2022-06-04 05:45] #1419 closed

[2022-06-08 12:03] bharathcgowda commented on #1398
Issue is fixed at backend, and working as expected

[2022-06-08 12:03] #1398 closed

[2022-06-08 12:03] bharathcgowda commented on #1396
Issue is fixed at backend, and working as expected

[2022-06-08 12:03] #1396 closed

[2022-06-08 16:15] bharathcgowda opened #1432 "Reschedule a loan account screen- unable to select future date"
## Description
Reschedule a loan account screen- unable to select a future date for reschedule from date and "to date"

## Steps to Reproduce
1. go to an active loan account
2. go to more->reschedule
3. try to select future dates for the fields "Reschedule from installments on" and "change repayment date" field

## Expected Behaviour
should allow future date selections for the fields "Reschedule f

[2022-06-10 12:11] #1428 closed

[2022-06-10 12:19] #1421 closed

[2022-06-13 11:15] bharathcgowda opened #1436 "Checker Inbox & tasks button not working"
## Description
Checker Inbox @ tasks button not working, showing internal server error while clicking on the button

## Steps to Reproduce
->login
->click on Checker Inbox & tasks button

## Screenshots, if any
![image](https://user-images.githubusercontent.com/65952533/173342136-9b885a57-96aa-49f5-8401-f090c6b45642.png)

[2022-06-13 11:51] ramvr1256 commented on #1432
![image](https://user-images.githubusercontent.com/59759301/173347303-c5697e04-e5d1-4117-a66c-42ca53aa3b6e.png)
![image](https://user-images.githubusercontent.com/59759301/173347455-d9dd606a-9d14-41ba-9698-fa1c91767d1f.png)

Working as Expected. Can be Closed.

[2022-06-13 11:52] ramvr1256 commented on #1417
Working as expected throughout the App. The issue Can be closed.

[2022-06-13 12:20] bharathcgowda commented on #1417
fixed

[2022-06-13 12:20] #1417 closed

[2022-06-13 14:54] bharathcgowda opened #1437 "Breadcrumbs Issues on many screens"
## Description
Breadcrumbs Issues on many screens like clients, groups, and centers don't show the links properly.
refer to screenshots for an example

## Steps to Reproduce
1. go to client->loan_application, breadcrumbs should have names instead of IDs similar to community-app
2. go to groups ->clients->loan,  breadcrumbs should have names instead of IDs similar to community-app
3. same issue wit

[2022-06-17 03:44] duyhungdh10 opened #1440 "Passing wrong parameter into API related to Home/Organization/Bulk Loan/Reasssignment"
## Description
Something wrong in Home/Organization/Bulk Loan/Reasssignment.
Passing wrong parameter into API: /loans/loanreassignment/template?fromLoanOfficerId=abc&officeId=xyz
I have checked code in web-app\src\app\organization\organization.service.ts (line 97) and found this:

[code]

In line 97, why did you use `officerId.toString()` insteal of  `officeId.toString()` ? I think it's a misstake

[2022-06-20 05:12] ramvr1256 commented on #1324
The issue is blocked due to API failure. Fineract ticket is raised `https://issues.apache.org/jira/browse/FINERACT-1636`

[2022-06-20 05:50] ramvr1256 commented on #1437
@bharathcgowda  I have covered as many screens as I found. Can you once check what all other places I need to implement this breadcrumb fix?

[2022-06-20 06:12] bharathcgowda commented on #1437
Thanks @ramvr1256 , for tracking purposes I will close this issue for now, as all the Important places it has been fixed.

[2022-06-20 06:12] #1437 closed

[2022-06-20 06:29] bharathcgowda opened #1442 "Trache Addition screen for Loan account issue"
## Description
for a loan account with tranche enabled, the "loan tranche details tab" should just have a + sign to add the tranche and not the tranche addition row by default.

Now
![image](https://user-images.githubusercontent.com/65952533/174538650-2fbe52f5-8a01-4862-a6e8-052623d5d762.png)

Example screen from community-app
![image](https://user-images.githubusercontent.com/65952533/174538716-2

[2022-06-20 06:44] bharathcgowda opened #1443 "View JE entry button in loan account screen is not working"
## Description
View JE entry button in loan account screen is not working

## Steps to Reproduce
- create a loan account that has accounting configured, and disburse the loan.
- go to the transaction tab and click on the view journal entry button
## Expected Behaviour
journal entry of that particular transaction should
## Actual Behaviour

## Settings
- Mifos X version:
- Browser used:

## Screens

[2022-06-20 07:06] ramvr1256 commented on #1442
I added this row because a tranche-enabled loan account can not be submitted without any entry as you can try this on default.ps.mifos.io. At least one entry is needed to submit a loan application. Do you still want to remove this row? This may lead users not identify the cause of not submitting. Currently, they can at least they will be prompted to fill this required field.

[2022-06-20 11:40] bharathcgowda commented on #1442
@ramvr1256  There is a configuration that enables users to do multi-disbursements without adding a tranche, there is no UI yet for this configuration but is being used by some of the organizations. this change is affecting the loan creations for such products, let's revert as discussed in this ticket.

You can refer to this PR for more details as well
https://github.com/apache/fineract/commit/bd8d

[2022-06-21 18:29] adamsaghy opened #1444 "UI is broken in Safari"
## Description
With Safari browser:
- It is lagging the load of the data of the Loan. See: Details tab or Transactions tab
- The transaction date on Transaction tab of loan are empty

## Steps to Reproduce
Open Loan, click on Transactions tab in Safari

## Expected Behaviour

## Actual Behaviour

## Settings
- Mifos X version:
- Browser used:

## Screenshots, if any
<img width="1378" alt="image (4

[2022-06-23 09:42] adamsaghy opened #1448 "Content is not refetched from backend after any action was made"
## Description
After applying and approving a loan, the up-to-date data is not fetched from the backend and the UI is stuck on "Approval" level...

## Steps to Reproduce
Apply for a Loan
Approve it
The content is not refreshed and the "Approval" button is still on the UI, cannot disburse it even it is already approved

Same case is seen during the repayments and any other actions

## Expected Beha

[2022-06-27 08:32] #1444 closed

[2022-06-27 08:40] #1448 closed

[2022-06-27 08:43] adamsaghy opened #1452 "After login the screen is not refreshed: stuck on login page"
## Description
After login the screen is not refreshed: stuck on login page.

## Steps to Reproduce
1. Login
2. It says it was logged in, however the input fields are emptied and error message is shown for them to be provided
3. The screen is not refreshed, stuck on the login page
4. If you remove everything after the / and refresh you are got on the homepage.

## Expected Behaviour
After login, i

[2022-06-30 20:25] ramvr1256 commented on #1452
Fixed now.

[2022-06-30 20:25] #1452 closed

[2022-07-02 06:40] bharathcgowda commented on #1442
fixed

[2022-07-02 06:40] #1442 closed

[2022-07-02 06:41] bharathcgowda commented on #1443
closed

[2022-07-02 06:41] #1443 closed

[2022-07-02 07:00] bharathcgowda commented on #1418
fixed

[2022-07-02 07:00] #1418 closed

[2022-07-02 07:08] bharathcgowda commented on #1416
fixed

[2022-07-02 07:08] #1416 closed

[2022-07-08 12:46] adamsaghy opened #1461 "Cannot create overdue charge from UI"
## Description
The UI is preventing to create overdue charge as the request does not contain the **mandatory** "penalty" field.

Request:
{"chargeAppliesTo":1,"name":"Random Overdue charge","currencyCode":"EUR","chargeTimeType":9,"chargeCalculationType":1,"amount":"500","active":true,"chargePaymentMode":0,"monthDayFormat":"dd MMM","locale":"en"}

## Steps to Reproduce
Try to create a new charge wh

[2022-07-09 02:56] josehernandezfintecheandomx commented on #1436
This is related to a Fineract SQL sentence with bad grammar in the group by @bharathcgowda

[2022-07-09 02:56] josehernandezfintecheandomx commented on #1461
@adamsaghy PR sent to Fix that

[2022-07-14 05:30] HARSH-nith opened #1469 "Edit button not working"
## Description
Edit button in the manage survey section not working.

## Steps to Reproduce
-> login
->admin
->survey
-> manage survey

## Expected Behaviour
Able to edit survey when edit button is pressed

## Screenshots, if any
![error in manage survey](https://user-images.githubusercontent.com/75531664/178906549-e2e72a14-4fd7-4255-a8a9-59d72b68ca8c.jpg)

[2022-07-15 10:43] adamsaghy opened #1471 "[UI] First repayment on datepicker and interest charged from datepicker should allow future dates"
## Description
During the Loan application the “First repayment on” and “Interest charged from” date pickers do now allow to pick future dates.

## Steps to Reproduce
Apply for a Loan

## Expected Behaviour
- Future date **can be** picked for “First repayment on”
- Future date **can be** picked for “Interest charged from”

## Actual Behaviour
- Future date **cannot be** picked for “First repayment

[2022-07-15 13:54] bharathcgowda commented on #1469
duplicate of the ticket https://github.com/openMF/web-app/issues/1323
Hence closing it

[2022-07-15 13:54] #1469 closed

[2022-07-15 14:22] bharathcgowda commented on #1461
fixed

[2022-07-15 14:22] #1461 closed

[2022-07-15 14:24] bharathcgowda commented on #1440
@ramvr1256 Could you look into this issue?

[2022-07-15 14:24] #1436 closed

[2022-07-15 14:26] bharathcgowda commented on #1403
Hi @anika-001 did you get any change to look into this issue?

[2022-07-15 14:27] bharathcgowda commented on #1393
issue is fixed

[2022-07-15 14:27] #1393 closed

[2022-07-15 14:28] bharathcgowda commented on #1392
Hi @Rolence  could you please add more information to the ticket, any screenshots and steps to reproduce will be helpful

[2022-07-15 14:30] bharathcgowda commented on #1379
closing the issue as it is fixed

[2022-07-15 14:30] bharathcgowda commented on #1351
issue is fixed

[2022-07-15 14:30] #1351 closed

[2022-07-15 15:02] bharathcgowda commented on #1322
closed

[2022-07-15 15:02] #1322 closed

[2022-07-17 08:52] HARSH-nith opened #1473 "Stuck on the login page"
## Description
Stuck on the login page of the openmf web app (https://openmf.github.io/web-app/)
An error message is also showing on the top right corner of the screen

## Steps to Reproduce
Click on the link (https://openmf.github.io/web-app/)

## Settings
- Mifos X version:
- Browser used:  Chrome

## Screenshots, if any
![login page issue 1](https://user-images.githubusercontent.com/75531664/17

[2022-07-18 13:15] josephgodwinkimani opened #1474 "Failed to compile"
## Description
Trying to compile a development build fails with the following errors:
[code]

## Steps to Reproduce

Following the [Getting started developing](https://github.com/openMF/web-app#getting-started-developing) guide:

1. Install NodeJS `v16.15.1` using nvm or from [here](https://nodejs.org/en/download/)
2. Install @angular/cli@9.1.12 or [v12.2.17](https://github.com/openMF/web-app/pull

[2022-07-18 14:47] peter-santa-dpc opened #1475 "Savings Product - Edit Product - Accounting - Previously saved accounts are not pre-selected in the drop-downs"
## Description
When opening a Savings Product for edit, the Accounting related fields are not pre-filled with the previously saved values.

## Steps to Reproduce
1. Have GL accounts created of each type (Asset, Liability, Income, Expense) on Accounting / Chart of Accounts. Set "DETAIL" as Account Usage. Have unique GL code for each (does not matter, what number, just unique in the system). Account

[2022-07-18 15:15] peter-santa-dpc opened #1476 "Chart of Accounts - Tree view does not work"
## Description
It is expected to see the hierarchy of accounts in Accounting / Chart of Accounts / Tree View. But it does not work.

## Steps to Reproduce
1. Have GL accounts created of each type (Asset, Liability, Income, Expense, Equity) on Accounting / Chart of Accounts. Set "HEADER" as Account Usage. Have unique GL code for each (does not matter, what number, just unique in the system).
2. Hav

[2022-07-25 21:36] adamsaghy opened #1483 "Client subtype cannot be selected while editing datatables"
## Description
When a client related datatable is in edit mode, the subtype cannot be chosen from the UI

## Steps to Reproduce
Create client related datatable
Edit it: add a new column and try to save

## Expected Behaviour
It can be saved

## Actual Behaviour
It cannot be saved as client subtype is not provided

## Settings
- Mifos X version:
- Browser used:

## Screenshots, if any

[2022-07-25 21:46] adamsaghy opened #1484 "Datetime type column in datatable got truncated while mysql is used"
## Description
When I set on the UI the date and time for a datetime type column (client related datatable), the time part got truncated and it is not sent to the backend.

## Steps to Reproduce
Use mysql as DB
Create client datatable
Add datetime column
Set a value

## Expected Behaviour
Date and time got sent to the backedn

## Actual Behaviour

Time part got truncated

## Settings
- Mifos X ver

[2022-07-26 11:06] bharathcgowda commented on #1471
fixed

[2022-07-26 11:06] #1471 closed

[2022-07-26 11:07] bharathcgowda commented on #1440
fixed

[2022-07-26 11:07] #1440 closed

[2022-07-26 11:26] bharathcgowda commented on #1323
fixed

[2022-07-26 11:26] #1323 closed

[2022-07-26 17:38] #1309 closed

[2022-07-28 18:48] anika-001 commented on #1403
Hi, yes, on my system, after editing an existing data-table, the information is stored successfully, without any error messages.

(before editing):
![image](https://user-images.githubusercontent.com/62497183/181614690-85ab0693-50a4-4b3c-a5fd-cff01a9d820d.png)

(after editing)
![image](https://user-images.githubusercontent.com/62497183/181614836-528db871-41b5-4216-8eab-3716d9679d7f.png)

[2022-07-29 07:34] bharathcgowda commented on #1403
@anika-001  Did you fix this issue locally?  if yes can you send the PR for the same?

[2022-07-29 07:53] bharathcgowda opened #1492 "MAke"
Configuration Wizard is a feature developed during GSoC 2020 by @spider0061

Due to time constraints and code_conflicts, this was never been able to push back the feature to the Master branch to make it available for the community to get benefited from the feature.

The goal of this ticket is to Raise a new PR on the configuration wizard module to the master branch from the configuration wizard br

[2022-08-03 17:57] adamsaghy opened #1496 "Search and Create Journal entry page is broken - Filtering by dates are broken"
## Description
Listing journal entries between two dates are broken.

Creating new Journal Entry page is broken as well. The selected transaction date is sent in the wrong format to the backend.

## Steps to Reproduce
Open Accounting/Search Journal Entries

## Expected Behaviour
It is working and now throw error
## Actual Behaviour
It is throwing error
## Settings
- Mifos X version:
- Browser used

[2022-08-09 11:57] #1496 closed

[2022-08-09 12:06] #1484 closed

[2022-08-09 12:42] bharathcgowda commented on #1334
completed

[2022-08-10 07:11] SabaWesabi opened #1499 "Reached heap limit Allocation failed"
## Description
When I tray to run project using `ng serve `
This error occurs
[code]
I use chrome

<img width="960" alt="Reached heap limit Allocation failed" src="https://user-images.githubusercontent.com/107075367/183837723-7d3aba1e-ca3c-4092-9ef5-eb102c77aa04.png">
#

[2022-08-11 08:07] bharathcgowda commented on #1334
@ramvr1256  @adamsaghy  thank you for working over this issue.

Here are the changes required to be made

1. Move the collateral selection screen at the loan level a step above the charges section( it is not related to charges, so we do not have to have it in the charge section)
2. There should not be any validations or configurations to mandate the collateral selection for a loan account
3. User

[2022-08-12 13:21] anika-001 opened #1502 "UI Enhancements"
I wish to propose the following UI enhancements to the project.

1. Enhancing the user experience by autoplay-tabs on client information display. When user hovers over the tab, it pauses.
    [LINK](https://imaginativejealoussmalltalk.anika001.repl.co/)
2.  Enhancing the button UI
    [LINK](https://popularenragedexecutable.anika001.repl.co/)
3. Enhancing the Navbar -> Stick to top on scroll
    [

[2022-08-26 05:12] ramvr1256 opened #1511 "E2E Testing Initiation"
**Is your feature request related to a problem? Please describe.**
To test app functionality, automated tests are needed to speed up and cover whole code at once

**Describe the solution you'd like**
Cypress testing need to be initiated

[2022-08-28 01:06] #1377 closed

[2022-08-28 01:06] #1350 closed

[2022-08-29 01:12] #1341 closed

[2022-08-29 01:12] #1342 closed

[2022-08-29 01:12] #1340 closed

[2022-08-30 01:15] #1324 closed

[2022-08-30 01:15] #1321 closed

[2022-08-30 01:15] #1320 closed

[2022-08-31 01:17] #1319 closed

[2022-08-31 12:04] ramvr1256 commented on #1473
Working now.

[2022-08-31 12:04] #1473 closed

[2022-08-31 12:08] ramvr1256 commented on #1474
Working fine.

[2022-08-31 12:08] #1474 closed

[2022-09-01 05:19] #1334 closed

[2022-09-02 12:03] ramvr1256 commented on #1278
@bharathcgowda It can be closed now if working as expected.

[2022-09-02 13:41] anika-001 commented on #1403
Yes, I'll create a PR for the same.

[2022-09-03 15:26] bharathcgowda commented on #1278
@ramvr1256  which is the PR for this ticket that has been merged?

[2022-09-03 15:37] ramvr1256 commented on #1278
https://github.com/openMF/web-app/pull/1514

[2022-09-03 15:41] bharathcgowda commented on #1278
Thanks Ramveer

[2022-09-03 15:41] #1278 closed

[2022-09-05 05:19] ramvr1256 commented on #1392
Working correctly. It was an issue of the previous version of fineract backend

[2022-09-05 05:19] #1392 closed

[2022-09-05 05:21] ramvr1256 commented on #1392
Kindly check on the webapp.ps.mifos.io instead of openmf.mifos.io. That is using a previous version of backend

[2022-09-05 05:22] ramvr1256 commented on #1316
@bharathcgowda Can you please confirm that it is working as expected?

[2022-09-05 05:25] ramvr1256 commented on #1262
@bharathcgowda It is fixed in #1510 . Can you please check and close this

[2022-09-05 05:34] ramvr1256 commented on #499
![image](https://user-images.githubusercontent.com/59759301/188367523-849b61d9-0795-42f9-b5b3-1c02c8f8acc6.png)
Working as expected.

[2022-09-05 08:09] #1316 closed

[2022-09-05 08:10] #1262 closed

[2022-09-05 11:49] ramvr1256 commented on #1231
Added feature. Working as Expected.

[2022-09-05 11:49] #1231 closed

[2022-09-08 04:26] anika-001 commented on #1476
The issue is no longer present in web app, tree structure loads as expected. [Attached Image]
![image](https://user-images.githubusercontent.com/62497183/189034144-b38c6ee5-c0ae-4002-83e4-07cce0c00c38.png)

[2022-09-08 05:01] anika-001 commented on #1403
In community app, we similarly show the dropdown(attached), with the name legal form for EntitySubType.
![image](https://user-images.githubusercontent.com/62497183/189038069-6d3082f8-1a46-4b78-b169-f84d60e4655a.png)

[2022-09-08 12:13] adamsaghy opened #1523 "Installing with Docker-compose is failing"
## Description
Running `docker-compose up -d` is failing during the build

## Steps to Reproduce

Run `docker-compose up -d`

## Expected Behaviour

## Actual Behaviour
[code]
## Settings
- Mifos X version:
- Browser used:

## Screenshots, if any

[2022-09-08 12:35] #1523 closed

[2022-09-08 22:05] ramvr1256 commented on #253
APIs are not giving 500 internal server error in the default.ps.mifos.io.  So not able to understand and replicate the functionality completely.

[2022-09-08 22:06] ramvr1256 commented on #254
APIs are not giving 500 internal server error in the default.ps.mifos.io.  So not able to understand and replicate the functionality completely.

[2022-09-08 22:06] #499 closed

[2022-09-14 01:07] #1335 closed

[2022-09-17 07:28] josephgodwinkimani opened #1535 "500 error trying to retrieve a loan application"
## Description

I am getting an error trying to pull loan applications for **all or single client**:

[code]

## Steps to Reproduce

1. Make a Loan Application for an active client `web-app/clients/1/loans-accounts/create`
2. As an Administrator pull loan application `web-app/clients/1/loans-accounts/2/general`

## Expected Behaviour

I expected a loan summary from this backend GET request `/finer

[2022-09-17 13:40] bharathcgowda commented on #253
@anika-001  can you please analyse this issue?

[2022-09-17 13:40] bharathcgowda commented on #254
@anika-001  can you please analyse this issue?

[2022-09-17 13:43] bharathcgowda opened #1536 "Unable to create Recurring Deposit (RD) Account"
## Description
Unable to create a Recurring Deposit (RD) Account

## Steps to Reproduce
1. create a simple RD product
2. create an RD account from client sceem

## Screenshots, if any
![image](https://user-images.githubusercontent.com/65952533/190860067-226fb58b-39bf-494b-80e7-50800a30485f.png)

[2022-09-18 01:15] #1475 closed

[2022-09-21 06:57] adamsaghy commented on #1535
@josephgodwinkimani Please share some extra information. Which backend instance you were targeting with the UI? Is it one of the demo backend or your own?

The above mentioned type of error is indicating an error happened in the backend.

[2022-09-21 06:58] adamsaghy commented on #1475
@peter-santa-dpc Can you please retest?

[2022-09-23 06:13] anika-001 commented on #253
Yes, working on the issue.

[2022-09-24 01:17] #1483 closed

[2022-10-01 01:27] #1295 closed

[2022-10-03 14:37] josephgodwinkimani commented on #1535
True. For some peculiar reasons MifosX 21.0.7.2 only works with openjdk 15.0.2 only. Therefore this issue is not related to Mifos X Web App

[2022-10-03 14:37] #1535 closed

[2022-10-04 01:19] #1281 closed

[2022-10-04 01:19] #1280 closed

[2022-10-06 01:12] #1273 closed

[2022-10-06 01:12] #1270 closed

[2022-10-10 01:17] #1499 closed

[2022-10-12 01:25] #1502 closed

[2022-10-25 01:25] #1249 closed

[2022-11-01 01:19] #1511 closed

[2022-11-02 01:13] #1492 closed

[2022-11-05 01:06] #1241 closed

[2022-11-07 01:03] #1233 closed

[2022-11-08 01:03] #1230 closed

[2022-11-08 01:03] #1228 closed

[2022-11-09 01:04] #1476 closed

[2022-11-09 12:53] tapaswenipathak opened #1555 "Create Client with basic required fields errors with 400 Bad request"
## Description

I'm using https://sandbox.mifos.community/#/clients/create. I fill the required(*) fields, after `submit`, I get `400` error code on console.

User error on app: `Invalid parameters were passed in the request!`.

Is there something I'm missing?

## Steps to Reproduce

Fill required fields (only) as `Person`:

<img width="1532" alt="Screenshot 2022-11-09 at 6 17 38 PM" src="https://

[2022-11-10 05:48] tapaswenipathak opened #1556 "Search on dashboard is a 404"
## Description

Search on dashboard is a 404

## Steps to Reproduce

https://sandbox.mifos.community/#/dashboard

## Expected Behaviour

Search success.

## Actual Behaviour

404.

## Settings
- Mifos X version: https://sandbox.mifos.community/#/dashboard
- Browser used: Google Chrome Version 107.0.5304.110 (Official Build) (x86_64)

## Screenshots, if any

<img width="1434" alt="Screenshot 2022-1

[2022-11-11 01:07] #774 closed

[2022-11-13 01:02] #737 closed

[2022-11-13 10:21] tapaswenipathak opened #1557 "Tree view button doesn't work"
## Description

Tree view doesn't change anything or send a query on console or a network call.

## Steps to Reproduce
https://sandbox.mifos.community/#/organization/offices

1. Add 4 offices.
2. Office A -> Parent Office: Head Office
3. Office B -> Parent Office: Office A
4. Office C -> Parent Office: Head Office
5. Office D-> Parent Office: Office B

## Expected Behaviour

Tree view (in some for

[2022-11-13 10:41] tapaswenipathak opened #1558 "Busy/Polling/status bar on top keeps on moving from left to right"
## Description

Create something, and till reload or reopen of tab, the Busy/Polling/status bar keeps on moving from left to right.

## Steps to Reproduce

Create anything.

## Expected Behaviour

Just a few times, indicating the time taken to fulfill user process/request.

## Actual Behaviour

Continues to move, in a infinite loop.

## Settings
- Mifos X version: https://sandbox.mifos.community/

[2022-11-13 10:45] tapaswenipathak opened #1559 "Not all employees shown in a group"
## Description

Not all employees shown in a group, while assigning staff.

## Steps to Reproduce

1. Create 5 employees.
2. Create 5 groups.
3. Assign staff to group B as Employee B.
4. Only 3 Employees shown.

## Expected Behaviour

All employees should be listed.

## Actual Behaviour

Only 3 Employees shown.

## Settings
- Mifos X version: https://sandbox.mifos.community/
- Browser used: Google

[2022-11-13 10:54] tapaswenipathak opened #1560 "Add group button doesn't work"
## Description

Add group button does nothing:
- doesn't send a network call

## Steps to Reproduce

1. Create Center.
2. Create Group.
3. Assign Group to Center using Add Group button.

## Expected Behaviour

Opens the list of group? or something else?

## Actual Behaviour

Does nothing.

## Settings
- Mifos X version: https://sandbox.mifos.community/
- Browser used: Google Chrome Version 107.0.5

[2022-11-13 10:58] tapaswenipathak opened #1561 "Click on + in Manage Groups Shows Internal Server Error"
## Description

Click on + in Manage Groups Shows Internal Server Error

https://sandbox.mifos.community/#/centers/1/actions/Manage%20Groups

## Steps to Reproduce

1. Open any center.
2. Click on Manage Groups.
3. Click on +.

## Expected Behaviour

User error.

## Actual Behaviour

Internal Server Error.

## Settings
- Mifos X version: https://sandbox.mifos.community/#/centers/1/actions/Manage%2

[2022-11-13 11:04] tapaswenipathak opened #1562 "Create Client lists Office in random order"
## Description

Create Client lists Office in random order
## Steps to Reproduce

1. Create client using: https://sandbox.mifos.community/#/clients/create
2. Click on Office.

## Expected Behaviour

1. Alphabetical or creation date or activate date order.

## Actual Behaviour

1. Random order.

## Settings
- Mifos X version:  https://sandbox.mifos.community/#/clients/create
- Browser used: Google

[2022-11-13 12:08] tapaswenipathak opened #1563 "Name Decorated field has 4 dots prepended to its value in Manage Offices"
## Description

Name Decorated field has 4 dots prepended to its value in Manage Offices

## Steps to Reproduce

1. Create Office.
2. Go to Manage Office.
3. Click on any office other than Head Office.

## Expected Behaviour
Name Decorated should show Name of the office, for example: Head Office.

## Actual Behaviour

[code]

## Settings
- Mifos X version: https://sandbox.mifos.community/#/organiz

[2022-11-13 12:16] tapaswenipathak opened #1564 "Add Clients button doesn't work"
## Description

Add Client button does nothing.

## Steps to Reproduce
1. Go to Groups.
2. Click on Group Head Office (any)
3. On https://sandbox.mifos.community/#/groups/6/general, click on Add Clients button.

## Expected Behaviour

Something?

## Actual Behaviour

Nothing happens.

## Settings
- Mifos X version: https://sandbox.mifos.community/#/groups/6/general
- Browser used: Google Chrome Ve

[2022-11-13 12:27] tapaswenipathak opened #1565 "Add Clients + Errors as "ERROR TypeError" in Manage Members in a Group"
## Description

Unable to add clients in Manage Members in a Group.

## Steps to Reproduce

1. Create Group.
2. Open created Group.
3. Click Manage Members.
4. Type in Add Clients on https://sandbox.mifos.community/#/groups/6/actions/Manage%20Members.
5. Click on +

## Expected Behaviour

Successful addition of Client.

## Actual Behaviour

Console Error:

[code]

## Settings
- Mifos X version: ht

[2022-11-14 05:10] tapaswenipathak opened #1566 "Gender not getting updated while creating client: No dropdown or text writing enabled"
## Description

Gender not getting updated while creating client: No dropdown or text writing enabled: https://sandbox.mifos.community/#/clients/create.

## Steps to Reproduce

1. Create Client in https://sandbox.mifos.community/#/clients/create.
2. Try updating Gender field.

## Expected Behaviour

Gender field updating, dropdown or text update enabled?

## Actual Behaviour

Nothing happens.

##

[2022-11-14 05:14] tapaswenipathak opened #1567 "Not able to Create Savings Account: Savings Product not working while creating client"
## Description

Savings Product not working while creating client: No dropdown or text writing enabled: https://sandbox.mifos.community/#/clients/create

## Steps to Reproduce
1. Create client: https://sandbox.mifos.community/#/clients/create.
2. Enter the required fields.
3. Try entering Savings Product.

## Expected Behaviour

1. Saving Product field take the data.

## Actual Behaviour

Nothing

[2022-11-14 05:18] tapaswenipathak opened #1568 "Negative value is allowed in Age field while creating Family Member of Client"
## Description

Negative value is allowed in Age field while creating Family Member of Client

## Steps to Reproduce

1. Add a Family Member of Client.
2. Try updating Age.

## Expected Behaviour

1. 0 to N

## Actual Behaviour

1. -N to N

## Settings
- Mifos X version: https://sandbox.mifos.community/
- Browser used: Google Chrome Version 107.0.5304.110 (Official Build) (x86_64)

## Screenshots,

[2022-11-14 05:20] tapaswenipathak opened #1569 "Relationship Update not working in Add Family Member of Client"
## Description

Relationship Update not working in Add Family Member of Client: https://sandbox.mifos.community/#/clients/create

## Steps to Reproduce

1. Create a Client.
2. Add Family Member.
3. Try updating the Relationship.

## Expected Behaviour

1. Relationship field working.

## Actual Behaviour

1. Relationship field doesn't work,

## Settings
- Mifos X version: https://sandbox.mifos.comm

[2022-11-14 05:44] tapaswenipathak opened #1570 "No Client Profile in Navigation"
## Description

No Client Profile in Navigation

## Steps to Reproduce
1. Follow this https://docs.mifos.org/mifosx/user-manual/side-bar-features/navigation
2. Last step feature is not present in https://sandbox.mifos.community/#/navigation

## Expected Behaviour

@edcable.

## Actual Behaviour
1. No Client Profile.

## Settings
- Mifos X version: https://sandbox.mifos.community/#/navigation
- Bro

[2022-11-16 08:28] bharathcgowda commented on #1570
@anika-001  can you please review this?

[2022-11-16 08:31] bharathcgowda commented on #1569
Hi @tapaswenipathak
This is not an issue
did you add the relationship code values in the manage-codes?

Most of the drop downs in Mifos are dynamic where you can list the dropdown values under "admin->systems->manage codes.
Then the drop downs will come.
for now I have added the relationship 'father' in that instance, so you should be able to see the father value in the dropdown now. In the same w

[2022-11-16 08:31] #1569 closed

[2022-11-16 08:33] bharathcgowda commented on #1568
@anika-001  can you please review and fix this issue?

[2022-11-16 08:34] bharathcgowda commented on #1567
Hi @tapaswenipathak  this is not an issue. in order to create a savings account, we need to create a savings product first
Under admin->products->savings products.

[2022-11-16 08:34] #1567 closed

[2022-11-16 08:34] bharathcgowda commented on #1566
Hi @tapaswenipathak
This is not an issue
did you add the gender code values in the manage codes?

All the drop downs in Mifos are dynamic where you can list the dropdown values under "admin-> systems->manage codes.
Then the drop downs will come.

[2022-11-16 08:34] #1566 closed

[2022-11-16 08:35] bharathcgowda commented on #1565
Hi @anika-001  could you please review this issue?

[2022-11-16 08:37] bharathcgowda commented on #1563
@tapaswenipathak  this is not an issue, all the child branches are appended with the dots, which is the current way working in community-app as well, hence closing this issue.

[2022-11-16 08:37] #1563 closed

[2022-11-16 08:38] bharathcgowda commented on #1562
@tapaswenipathak  it is not random, it displays in the parent-child relation order.
This is the current working way in community-app, hence closing this issue.

[2022-11-16 08:38] #1562 closed

[2022-11-16 08:40] bharathcgowda commented on #1561
@anika-001  could you please review this issue?

[2022-11-16 08:40] bharathcgowda commented on #1560
@anika-001  could you please review this issue?

[2022-11-16 08:41] bharathcgowda commented on #1559
@anika-001 could you please review this issue?

[2022-11-16 08:42] bharathcgowda commented on #1558
@anika-001  could you please review this issue?

[2022-11-16 08:42] bharathcgowda commented on #1557
@anika-001  could you please review this issue?

[2022-11-16 08:43] bharathcgowda commented on #1556
@anika-001  could you please review this issue?

[2022-11-16 08:44] bharathcgowda commented on #1555
@tapaswenipathak  could you please try with adding all the fields for family details?

[2022-11-18 01:04] #1536 closed

[2022-11-18 15:03] anika-001 commented on #1570
Yes, on it.

[2022-11-19 07:19] bharathcgowda commented on #1568
fixed

[2022-11-19 07:19] #1568 closed

[2022-11-19 10:35] anika-001 commented on #1558
Hi, I'm unable to replicate the issue. I've created client, group, and center (attached videos), the bar stops moving post the submission.

![Untitled design (7)](https://user-images.githubusercontent.com/62497183/202846467-f5660b47-afd5-4fd2-8525-1f8f3fcb8626.gif)

[2022-11-19 13:18] anika-001 commented on #1559
Hi, I wanted to clarify, is this issue occurring when we go to the group created and try to assign staff? (here:http://localhost:4200/#/groups/93/actions/Assign%20Staff)

I've created 5 groups and 5 employees, was getting all the 5 employees in the dropdown to select.
Attached Image:
![image](https://user-images.githubusercontent.com/62497183/202852671-946c8073-946f-482d-b8ca-e1d5eeeb53a7.png)
(I

[2022-11-20 15:05] bharathcgowda commented on #1559
@anika-001 thank you for adding your observation, while we get some review on this, could you please look into other assigned tickets?

[2022-11-20 22:02] anika-001 commented on #1565
Hi, can you share if the created group had 'active' or 'pending' status? @tapaswenipathak

My understanding is that we can't add clients to a pending status group. To resolve the same, I can disable the message and add a notification to notify user for the same.

[2022-11-20 22:04] anika-001 commented on #1559
Yes, will do that.

[2022-11-20 22:16] anika-001 commented on #1564
Hi, we don't have any event assigned on click to the button at the moment, hence, when clicking on the button, nothing happens. (added code image)
![image](https://user-images.githubusercontent.com/62497183/202929141-cd3889ea-d562-4307-b8a2-2395d3fdc5fb.png)

Is there a specific activity/event we've to direct the click to, I can work on it if you could share more about the expected behavior of the

[2022-11-20 22:23] anika-001 commented on #1560
Hi, we don't have any action/event assigned on click to the button at the moment, hence, when clicking on the button, nothing happens. (added code image)
![image](https://user-images.githubusercontent.com/62497183/202929503-6cc13578-04c0-4640-9159-2aa57d86ffbb.png)

Is there a specific activity/event we've to direct the click to, I can work on it if you could share more about the expected behavior

[2022-11-21 06:31] bharathcgowda commented on #1565
@anika-001  if we are able to add clients from the active groups, then this is not an issue. you can disable the add buttons when the group is inactive.

[2022-11-21 06:46] bharathcgowda commented on #1564
@anika-001  could you see here https://default.ps.mifos.io/ (mifos/password)
This is first UI, analysing here will help you in understanding the Pointing APIs

[2022-11-21 06:47] bharathcgowda commented on #1560
@anika-001 could you see here https://default.ps.mifos.io/ (mifos/password)
This is first UI, analysing here will help you in understanding the Pointing APIs

[2022-11-26 09:39] tapaswenipathak opened #1584 "https://sandbox.mifos.community/ isn't loading"
https://sandbox.mifos.community/

https://user-images.githubusercontent.com/4143778/204082265-1ada232a-724c-427f-9550-37b09b2e1e2e.mov

Ref https://github.com/openMF/mifos-documentation/issues/14.

cc @edcable.

[2022-11-26 18:24] tapaswenipathak commented on #1584
https://user-images.githubusercontent.com/4143778/204103506-cef92a5e-e4d6-42d2-9a50-d4983a5f7e51.mov

https://user-images.githubusercontent.com/4143778/204103499-e74abeb1-515f-4df8-840c-554674cd878d.mov

<img width="1295" alt="Screenshot 2022-11-26 at 11 48 03 PM" src="https://user-images.githubusercontent.com/4143778/204103500-5ff52a2d-776d-41f7-a0ce-4b565ae6896f.png">